.final-cta {
  text-align: center;
  border-bottom: 2px solid var(--ul-neutral-800);
  padding: 90px 0;
}

.final-cta>div {
  padding: 2px;
}

.final-cta h2 {
  margin-bottom: var(--ul-space-5);
  font-size: var(--ul-font-size-3xl);
  line-height: 1.2;
  margin-top: 0;
}

.final-cta p {
  margin-bottom: var(--ul-space-6);
}

.final-cta .buttons {
  margin: var(--ul-space-5) 0 0 0;
}

.final-cta .cta-wrap,
.final-cta .cta-git-wrap {
  margin: 0; 
}

@media (max-width: 768px) {

  .final-cta h2 {
    font-size: var(--ul-font-size-2xl);
  }

}

