/* Heading */

.heading {
  margin-bottom: -20px;
  padding: 120px 0 0 0;
}

.heading p {
  font-size: var(--ul-font-size-lg);
  font-weight: var(--ul-font-weight-medium);
  line-height: var(--ul-line-height-medium);
  margin-bottom: var(--ul-space-3);
  color: var(--ul-neutral-400);
}
