/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--ul-neutral-900);
  border-bottom: var(--ul-border-width) solid var(--ul-border-color);
}

@media (max-width: 768px) {
  header {
    position: static;
    background: var(--ul-neutral-900);
    top: auto;
    left: auto;
    width: auto;
    z-index: auto;
  }
}

.menu-toggle {
  display: none;
}

.menu-button {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 20px;
  cursor: pointer;
  align-self: center;
}

.menu-button span {
  width: 100%;
  height: 2px;
  background-color: var(--ul-neutral-300);
  border-radius: 2px;
}

header section {
  display: flex;
  justify-content: space-between;
  padding: var(--ul-space-2) var(--ul-space-6);
}

header h1 {
  display: flex;
  font-size: var(--ul-font-size-xl);
  margin: 0;
}

header h1 a {
  justify-content: flex-start;
  display: flex;
  font-weight: var(--ul-font-weight-semibold);
  font-size: var(--ul-font-size-xl);
  color: var(--ul-neutral-100);
  text-decoration: none;
}

header h1 img {
  height: 50px;
  margin-right: var(--ul-space-3);
}

header h1 span {
  display: inline-block;
  line-height: 47px;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  list-style: none;
  font-size: var(--ul-font-size-xs);
  color: var(--ul-neutral-500);
  font-weight: var(--ul-font-weight-semibold);
  margin-left: var(--ul-space-6);
  line-height: 50px;
}

header ul li a {
  text-decoration: none;
  color: var(--ul-neutral-300);
}

header ul li a:hover {
  color: var(--ul-neutral-100);
}
