.sub-heading {
  margin-bottom: var(--ul-space-6);
  margin-top: var(--ul-space-6);
}

.sub-heading-tag {
  margin: 0 0 var(--ul-space-2) 0;
  font-size: var(--ul-font-size-xs);
  color: var(--ul-neutral-500);
}

.sub-heading h2 {
  margin: var(--ul-space-3) 0 var(--ul-space-2) 0;
  font-size: var(--ul-font-size-2xl);
}


