.badge {
  display: inline-flex;
  align-items: center;
  padding: var(--ul-space-2);
  font-size: var(--ul-font-size-xs);
  font-weight: var(--ul-font-weight-medium);
  border-radius: var(--ul-radius-md);
  background: transparent;
  color: var(--ul-neutral-400);
  border: 1px solid var(--ul-neutral-700);
  height: 10px;
  line-height: 10px;
}
.badge-layer-01 { border-color: var(--ul-layer-01); color: var(--ul-layer-01); }
.badge-layer-02 { border-color: var(--ul-layer-02); color: var(--ul-layer-02); }
.badge-layer-03  { border-color: var(--ul-layer-03); color: var(--ul-layer-03); }
