.card {
  background: var(--ul-neutral-800);
  border: var(--ul-border-width) solid var(--ul-border-color);
  border-radius: var(--ul-radius-lg);
  padding: var(--ul-space-5);
}

.card .banner {
  width: 100%;
  min-height: 100px;
  border-radius: var(--ul-radius-md);
  background: var(--ul-neutral-700);
  margin-bottom: var(--ul-space-5);
}
.card .banner img {
  width: 100%;
  object-fit: cover;
}

.card h3,
.card h4  {
  margin: 0 0 var(--ul-space-2);
}

.card p {
  margin: 0;
}

.card .badge {
  margin: var(--ul-space-1) 0 var(--ul-space-5) 0;
}
