.progress {
  width: 100%;
  height: 10px;
  background: var(--ul-neutral-700);
  border-radius: var(--ul-radius-md);
  overflow: hidden;
}
.progress-bar {
  height: 100%;
  background: var(--ul-brand-500);
  width: 0;
  transition: width var(--ul-duration-base) var(--ul-ease-inout);
}
