:root {

  /* ==============================
    Radius & Borders
  ============================== */

  --ul-radius-sm: 2px;
  --ul-radius-md: 4px;
  --ul-radius-lg: 6px;

  --ul-border-width: 1px;
  --ul-border-color: var(--ul-neutral-700);

}
