:root {

  /* ============================== 
    Semantic Aliases
  ============================== */

  --ul-color-bg: var(--ul-neutral-0);
  --ul-color-surface: var(--ul-neutral-0);
  --ul-color-text-primary: var(--ul-neutral-900);
  --ul-color-text-secondary: var(--ul-neutral-700);
  --ul-color-border: var(--ul-neutral-300);

  --ul-color-brand-primary: var(--ul-brand-500);
  --ul-color-brand-hover: var(--ul-brand-700);
  --ul-color-text-inverse: var(--ul-neutral-0);

}
