:root {

  /* ==============================
    Spacing
  ============================== */

  --ul-space-1: 0.25rem;
  --ul-space-2: 0.5rem;
  --ul-space-3: 0.75rem;
  --ul-space-4: 1rem;
  --ul-space-5: 1.5rem;
  --ul-space-6: 2rem;

}
